@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
}

.frontFace {
  background: url("Images/Front.jpg");
  height: 400px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.95;
  position: relative;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 5%;
  background-color: rgb(79, 82, 84);
  opacity: 0.95;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  max-width: 210px;
  min-height: 54px;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 15px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

a.active, .nav__links li a:hover {
  background-color: black;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
}

.searchBox {
  position: relative;
}

.searchBox input {
  padding: 9px 25px;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.searchBox i {
  margin-left: 10px;
  color: #fff;
  position: absolute;
  margin-top: 4px;
  transition: all 0.3s ease 0s;
  font-weight: 700;
}

.searchBox i:hover {
  color: #999a9b;
  cursor: pointer;
}

.frontText {
  position: absolute;
  top: 111px;
  left: 100px;
}

.frontText p {
  font-family: "Montserrat", sans-serif;
  font-size: 54px;
  font-weight: 600;
  color: #edf0f1;
  text-shadow: 1px 1px 2px black;
  letter-spacing: 4px;
}

.frontText button {
  background-color: #fff;
  font-size: 20px;
  margin: 20px 0px;
  padding: 10px 30px;
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.sliderWrapper {
  position: relative;
  padding: 0.2rem;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: contain;
  max-width: 100%;
}

.productContainer {
  padding: 5% 5%;
}

.productContainer h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.productList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 4%;
  column-gap: 4%;
  justify-content: center;
}

.productList img {
  width: 100%;
  height: 100%;
  opacity: 0.75;
  transition: 0.5s;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.productList img:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
}

.parallax {
  background-image: url("Images/Parallax.png");
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  padding: 100px 50px;
  height: 450px;
}

.content label {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}
.content .spclofr {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #fff;
}

.content p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  padding: 10px 0;
}

.content button {
  border: none;
  padding: 5px 25px;
  color: black;
  background-color: #fff;
  font-family: "Courier New", Courier, monospace;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: none;
  justify-content: center;
  padding: 50px 30px;
}

.banner {
  text-align: center;
  padding: 50px 10px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  margin: 20px 20px;
  border-radius: 20px;
}

.banner i {
  color: rgb(45, 43, 43);
  font-size: 50px;
  padding-bottom: 20px;
}

.banner label {
  font-family: "Montserrat", sans-serif;
  color: rgb(45, 43, 43);
  font-size: 20px;
  font-weight: 800;
}

.banner p {
  font-family: "Montserrat", sans-serif;
  color: rgb(45, 43, 43);
  font-size: 15px;
  font-weight: 400;
  padding-top: 10px;
}

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: none;
  column-gap: 80px;
  background-color: rgb(79, 82, 84);
  padding: 50px 100px;
}

.Flogo {
  cursor: pointer;
}

.Flogo p {
  color: #c8c5c5;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding-left: 10px;
}

.List {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.List h3 {
  padding-bottom: 10px;
  font-size: 25px;
}

.List p {
  font-size: 15px;
  padding-bottom: 5px;
  font-weight: 100;
}

.subscribe h3 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 20px;
  font-size: 25px;
}

.subscribe input {
  border: none;
  border-radius: 5px;
  padding: 10px 40px 5px 5px;
  margin-bottom: 5px;
}

.subscribe button {
  border: none;
  background-color: #fff;
  color: black;
  padding: 5px 20px;
  border-radius: 5px;
}

/* ------------------------------------------------------------------- */

@media (max-width: 1050px) {
  li,
  a,
  button {
    font-size: 14px;
  }

  .logo {
    max-width: 190px;
    min-height: 52px;
  }

  .searchBox input {
    padding: 8px 20px;
  }

  .footer {
    column-gap: 40px;
  }
}

/* ----------------------------------------------------------------------------------- */

@media (max-width: 910px) {
  li,
  a,
  button {
    font-size: 12px;
  }

  .logo {
    max-width: 160px;
    min-height: 48px;
  }

  .searchBox input {
    padding: 8px 8px;
  }

  .nav__links li {
    padding: 0px 10px;
  }

  .services {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: none;
  }

  .footer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: none;
    row-gap: 80px;
    padding: 50px 100px;
  }

  .productList {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px;
  }

  .frontText p {
    font-size: 44px;
    font-weight: 600;
  }

  .frontText button {
    font-size: 16px;
    margin: 15px 0px;
    padding: 8px 24px;
    border-radius: 50px;
  }

  .productContainer h1 {
    font-size: 36px;
  }

  .footer {
    row-gap: 40px;
  }
}

/* ---------------------------------------------------------------------------------------- */

@media (max-width: 735px) {
  header {
    display: block;
  }

  .nav__links li {
    padding: 10px 10px;
    display: block;
  }

  nav {
    margin-top: 20px;
  }

  .nav__links li a:hover {
    color: #999a9b;
  }

  a.active {
    color: #999a9b;
  }

  li,
  a,
  button {
    font-size: 12px;
  }

  .logo {
    max-width: 150px;
    min-height: 46px;
  }

  .searchBox input {
    padding: 8px 8px;
  }

  .services {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: none;
  }

  .footer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: none;
    row-gap: 80px;
    padding: 50px 100px;
  }

  .productList {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px;
  }

   .frontText {
    top: 150px;
    left: 70px;
  } 

  .frontText p {
    font-size: 38px;
    font-weight: 600;
  }

  .frontText button {
    font-size: 16px;
    margin: 12px 0px;
    padding: 8px 22px;
    border-radius: 50px;
  }

  .productContainer h1 {
    font-size: 32px;
  }

  .footer {
    row-gap: 40px;
  }
}
