*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(69, 69, 69);
}

.container{
    width: 500px;
    height: 500px;
    border: 10px solid #fff;
    border-style: ridge;
    background-color: blue;
    margin: 65px auto;
}

.roof{
    width: 0;
    height: 0;
    border-left: 230px solid blue;
    border-right: 230px solid blue;
    border-bottom: 150px solid #d7d07b;
    margin: 75px auto;
    position: relative;
}

.window{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: rgb(106, 106, 234);;
    top: 50px;
    left: -35px;
    position: absolute;
}

.body{
    height: 200px;
    width: 350px;
    border: 2px solid #fff;
    background-color: rgb(130, 76, 30);
    margin: -75px auto;
    position: relative;
}

.door{
    width: 90px;
    height: 111px;
    background-color: #d7d07b;
    position: absolute;
    top: 89px;
    left: 134px;
}

.handle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: rgb(106, 106, 234);
    top: 55px;
    left: 4px;
    position: absolute;
}

@media screen and (max-width: 800px) {
    body{
        background-color: rgb(52, 130, 37);
    }

    .container{
        width: 450px;
        height: 450px;
        border: 8px solid #fff;
        border-style: ridge;
        margin: 55px auto;
    }
    
    .roof{
        border-left: 210px solid blue;
        border-right: 210px solid blue;
        border-bottom: 130px solid #d7d07b;
        margin: 65px auto;
    }
    
    .window{
        width: 60px;
        height: 60px;
        top: 35px;
        left: -31px;
    }
    
    .body{
        height: 180px;
        width: 300px;
        margin: -65px auto;
    }
    
    .door{
        width: 85px;
        height: 101px;
        top: 79px;
        left: 107px;
    }
    
    .handle{
        width: 10px;
        height: 10px;
        top: 49px;
        left: 3px;
    } 
}

@media screen and (max-width: 480px) {
    body{
        background-color: rgb(164, 4, 4);
    }

    .container{
        width: 350px;
        height: 350px;
        border: 6px solid #fff;
        border-style: ridge;
        margin: 55px auto;
    }

    .roof
        {
            border-left: 165px solid blue;
            border-right: 165px solid blue;
            border-bottom: 110px solid #d7d07b;
            margin: 32px auto;
        }
    
    
    .window{
        width: 45px;
        height: 45px;
        top: 36px;
        left: -24px;
    }
    
    .body{
        height: 150px;
        width: 244px;
        margin: -32px auto;
    }
    
    .door{
        width: 70px;
        height: 85px;
        top: 65px;
        left: 88px;
    }
    
    .handle{
        width: 8px;
        height: 8px;
        top: 41px;
        left: 4px;
    }
    
}